DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Resend Email Configuration
RESEND_API_KEY=YOUR_RESEND_API_KEY_HERE
RESEND_DEFAULT_FROM_ADDRESS=onboarding@resend.dev
RESEND_DEFAULT_FROM_NAME=Prevema
